body {
  margin: 0;
  font-family: 'Lato', sans-serif; /* Updated body font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E0DDCB; /* Primary color background */
  color: #333; /* Dark text for contrast */
}

h1, h2, h3 { /* Example heading update */
  font-family: 'Montserrat', sans-serif; /* Heading font */
  color: #687864; /* Secondary color for headings */
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  color: #E0DDCB; /* Primary color for contrast */
}

.navbar-nav .nav-link {
  color: #687864; /* Secondary color for links */
}

.card { /* Basic card styling */
  margin-bottom: 20px;
}

.card-title { /* Style the 'Shoes' heading */
  text-align: center;
}

.list-group-item {
   border: none; /* Example: Remove list item borders */
}

.header-card {
  margin-bottom: 20px; /* Adds spacing below the card */
  max-width: 80%;  /* Controls the card's maximum width */
  margin: 0 auto;  /* Centers the card horizontally */
}
